
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@media (max-width: 767px) {
#hero{
  height: auto;
}
#hero .hero-container {
    padding: 33px 15px 0px;
    position: relative;
}
#hero h1{
  padding: 0px;
}
.about p {
    font-size: 18px;
    line-height: 28px;
}
section {
    padding: 40px 0;
  }
  .pad-top {
    padding-top: 40px;
}
.mb-5{
  margin-bottom: 0px!important;
}
.services .title {
    font-size: 21px;
  }
   .section-title h3{
    margin: 0px;
    line-height: normal;
   }
   section#counts {
    padding: 20px;
  }
  .counts .content h2 {
    font-weight: 500;
    font-size: 26px;
  }
  .owl-next img{
    display: none;
  }
  .owl-prev img{
    display: none;
  }
}


@media (max-width: 767px){
.portfolio_area .single_gallery {
    width: 100%;
}
.portfolio_area .single_gallery .thumb {
    height: auto;
}
#hero.about_us{
  height: auto;
}
.section.portfolio .filters ul li {
  padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
.portfolio_area .single_gallery {
    width: 50%;
}
.portfolio_area .single_gallery .thumb {
    height: 300px;
}
}
@media (min-width: 992px) and (max-width: 1200px){
.portfolio_area .single_gallery .thumb {
    height: 370px;
}
}
@media (min-width: 992px) and (max-width: 1200px){
.portfolio_area .single_gallery {
    width: 50%;
}
}
@media (min-width: 1200px) and (max-width: 1500px){
.portfolio_area .single_gallery {
    width: 33.33333%;
}
.portfolio_area .single_gallery .thumb {
    height: 350px;
}
.portfolio_area .single_gallery.small_width {
    width: 33.33333%;
}
.portfolio_area .single_gallery:hover::before {
    left: 0%;
}
}
