{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% set container = theme.settings.fluid_container ? 'container d-flex align-items-center justify-content-between' : 'container d-flex align-items-center justify-content-between' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'fixed-top',
      ]
    %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="header" role="banner">
      {% if not navbar_attributes.hasClass(container) %}
        <div class="{{ container }}">
      {% endif %}
      
      <a href="{{ url('<front>') }}"><h1 class="logo"><img src="{{logopath}}"></h1></a>
      {% if page.navigation_collapsible %}
        {{ page.navigation_collapsible }}
      {% endif %}

      {% if not navbar_attributes.hasClass(container) %}
        </div>
      {% endif %}
    </header>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <main id="main">

        {# Content #}
          <a id="main-content"></a>
          <div class="pagenotfound_texts">  
          <div class="pagenotfound_heading">Page Not Found</div>
          <div class="pagenotfound_heading_sub">We couldn't find the page you are looking for.</div>
          <div class="pagenotfound_description">As an alternative, you can visit our <a href="{{ url('<front>') }}/contact">CONTACT</a> page and submit your query. 
             <br>Or you can go back to the <a href="{{ url('<front>') }}">PREVIOUS</a> page.
         </div>
         </div>

{% endblock %}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 footer-contact" data-aos="fade-down">
        {% if page.footer_first %}
          {{ page.footer_first }}
          {% endif %}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-links" data-aos="fade-down">
          <h4>Useful Links</h4>
          {% if page.footer_second %}
          {{ page.footer_second }}
          {% endif %}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-links" data-aos="fade-down">
          <h4>Our Services</h4>
          {% if page.footer_third %}
          {{ page.footer_third }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
    </div>
</footer>